body{
    position: relative;
    font-size: 0.14rem;
}
html, body {
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: #efeeee;
}
img{
    margin:0 auto;
}
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video{
    margin:0;padding:0
}
article,aside,footer,header,nav,section,audio,canvas,video,img{
    display:block
}
html,body{
    font-family:Microsoft YaHei,Helvetica,STHeiti,Droid Sans Fallback;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
textarea{
    resize:none
}
iframe,img{
    border:0}
input[type=text],input[type=button],input[type=submit],input[type=reset],button{
    -webkit-appearance:none}
ul,ol{
    list-style:none
}
a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}
i{font-style: normal;}
.fl{
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.pt10{padding-top: 0.1rem}
.pb10{padding-bottom: 0.1rem}
.pl10 {
    padding-left: 0.1rem;
}
.pr10 {
    padding-right: 0.1rem;
}
/*上外邊距*/
.mt5 {margin-top:0.05rem;}
.mt15{margin-top: 0.15rem}
.mt20 {margin-top: 0.2rem;}
.mr20{margin-right: 0.2rem}
.mr25{ margin-right: 0.25rem;}
/*下邊距*/
.mb10{margin-bottom: 0.1rem}
/*左邊距*/
.ml6{margin-left: 0.06rem;}
/*字體*/
.fs13{font-size: .13rem}
.fs12{font-size: .12rem}
/*上下分割線*/
.bb1{border-bottom: 1px solid rgba(202, 202, 202, 0.7);}
.bt1{border-bottom: 1px solid rgba(202, 202, 202, 0.7);}
.clear{clear: both}
.pa {position: absolute;}
/*头部*/
.top{
    width:100%;
    height: 0.6rem;
    border-bottom: 1px solid #ebe9ea;
    background:#fff;
}
.s_header{
    width:3.75rem;
    height: 0.6rem;
    border-bottom: 1px solid #ebe9ea;
    background:#efeeee;
    position:fixed;
    top:0;
    z-index:100;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.logo-box{
    width:60%;
    margin-top:0.1rem;
}
.logo {
    width: 0.4rem;
    height: 0.4rem;
}
.logo img {
    width: 100%;
    height: 100%;
}
.logo-txt {
    font-size: 0.13rem;
    margin-top: 0.03rem;
    margin-left: 0.15rem;
}
.logo-tit {
    color: #17a87d;
    display: block;
}
.logo-title{
    color:#7A7A7A;
    display: block;
    margin-top:0.01rem;
}
.down-load {
    height: 0.26rem;
    padding: 0 0.08rem;
    margin-top: 0.17rem;
    font-size: 0.13rem;
    background: #17a87d;
    border-radius: 0.04rem;
    line-height: 0.27rem;
    color: #ffffff;
}
.clearFloat{overflow: hidden;clear: both}
/*课程介绍*/
.banner{/*封面*/
    position: relative;
}
.courseCover li{
    position: absolute;
}
 .courseCover li:nth-child(2) {
    top: -3.75rem;
    transform-origin: bottom;
    -webkit-transform-origin: bootom;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
}
 .courseCover li:nth-child(3) {
    top: 3.75rem;
    transform-origin: top;
    -webkit-transform-origin: top;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
}
.courseCover li:nth-child(4) {
    transform: translateZ(3.75rem);
    -webkit-transform: translateZ(3.75rem);
}
.courseCover img{
     max-width: 100%;
     transform-style: preserve-3d;
 }
.playButton img{
    max-width: 100%;
}
.courseCover{
    position: relative;
    transform-style: preserve-3d;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    width: 3.75rem;
    height: 3.75rem;
    transform-origin: 1.875rem 1.875rem 1.875rem;
}

.playButton{
    width:0.6rem ;
    height: 0.6rem;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left:-0.3rem;
    margin-top: -0.3rem;
}
.courseIntroduce{
    padding: 0.19rem 0.2rem  0.15rem 0.2rem;
}
.caption h1{
    font-size: 0.17rem;
    color: #373737;
    font-weight: 600;
}
.caption h1 span{
    display: inline-block;
    padding-bottom:0.15rem;
    border-bottom: 2px solid #d0cfcf;
}
.course-browse{
    padding:0.15rem 0;
}
.icon-list{
    color: #939392;
    font-size: 0.12rem;
}
.icon-list li{
    display: inline-block;
}
.icon-list li:nth-child(1){
    margin-right: 0.2rem
}
.icon-baby{
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: 0.05rem;
    background: url("../image/baby.png") no-repeat;
    background-size: 13px 12px;
}
.icon-time{
    display: inline-block;
    width: 12px;
    height：12px;
    margin-right: 0.05rem;
    background: url("../image/baby.png") no-repeat;
    background-size: 12px 12px;
}
/*推荐课程*/
.recommended{
    background: #e0e0e0;
    padding-top: 0.1rem;
}
.recommended-course{
    background: #efeeee;
    overflow: hidden;
}
.groom{
    margin-top: 0.15rem;

}
.groom i{
    display: inline-block;
    width: 0.05rem;
    height: 0.25rem;
    background: #17a97d;
}
.recommended-text{
    display: inline-block;
    font-size: 0.19rem;
    vertical-align: top;
}
.course-list{
    margin: 0.15rem 0.1rem 0.2rem  0.1rem;

}
.course-list li{
    width: 3.55rem;
    height: 1.55rem;
    position: relative;

}
.course-list li:nth-child(1){
    margin-bottom: 0.1rem;
}
.course-list li img{
    max-width: 100%;
    border-radius: 0.05rem;
}
.recommended-course-title{
    position: absolute;
    top: 0.1rem;
    left: 0.15rem;
    color:#ffffff;
}
.recommended-course-title h2{
   font-size: 0.19rem; 
}
.suitableAge{
    display: inline-block;
    margin-top: 0.1rem;
    font-size:0.13rem;    
    border: 1px solid #ffffff;
    padding:0.01rem 0.1rem;
    border-radius: 0.3rem;
    font-weight: 600;
    box-shadow: 0px 0px 1px 0 ;
}
/*模态框*/
#content{   
    width:3rem;
    height: 1.5rem;
    position: absolute;
    top: -500px;   
    left: 0.35rem;
    background-color: #fff;  
    border: 1px #B0B0B0 solid;   
    border-radius: 7px;
    box-shadow: 0px 4px 15px #707070;
    transition: top 1s,width 1s,height 1s;
    -webkit-transition: top 1s,width 1s,height 1s,opacity 1s;
    font-size: .16rem;
    z-index: 300;
}
.content-body{
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.02rem;
    font-size: 0.18rem;
    line-height: 0.25rem;
}

.content-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.4rem;
    border-top: 1px #e5e5e5 solid;
    overflow: hidden;
}
.btn-group {
    overflow: hidden;
    float: right;
    width: 60%;
    height: 0.4rem;
    line-height: 0.4rem;
}
.btn-group span {
    display: block;
    float: right;
    height: 0.25rem;
    text-align: center;
    line-height: .25rem;
    border-radius: 3px;
    margin-right:0.1rem; 
    margin-top: 0.05rem;
}
.btn-group span.download {
    background-color: #17a87d;
    color: #fff;
    font-size:.15rem;
    border: 1px #17a87d solid;
    padding: .01rem 0.05rem;

}
.btn-group span.close {
    background-color: #fff;
    color: #000;
    font-size: .15rem;
    border: 1px #CCCCCC solid;
    padding: .01rem 0.05rem;
}
.mask{
    background: rgba(27,24,24,0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 101;
}
/*修改后（未与上面合并）*/
.logo-title {
    color: #7A7A7A;
    display: block;
    margin-top: 0.01rem;
}
#content {
    overflow: hidden;
    width: 2.7rem;
    height: 1.45rem;
    position: absolute;
    top: -500px;
    left: 0.5rem;
    background-color: #fff;
    border: 1px #B0B0B0 solid;
    border-radius: 7px;
    box-shadow: 0px 4px 15px #707070;
    transition: top 1s,width 1s,height 1s;
    -webkit-transition: top 1s,width 1s,height 1s,opacity 1s;
    font-size: .16rem;
    z-index: 300;
}
.content-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.45rem;
    border-top: 1px #e5e5e5 solid;
    overflow: hidden;
}
.btn-group {
    overflow: hidden;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
}
.btn-group span {
    display: inline-block;
    width: 48%;
    text-align: center;
}
.btn-group span.close {
    background-color: #fff;
    color: #000;
    font-size: .14rem;
}
.btn-group span.download {
    color: #161313;
    font-size: .14rem;
    border-left: 1px #d2d3d2 solid;
}
